body { 
	/*padding-top: 100px; */
}

/* NAVI */
.navbar{
	height: 100px;
}
.navbar-header{
	height: 100px;
}
.navbar-brand img{
	max-height: 72px;
}
.navbar-padding-top-corr{
	padding-top: 25px;
}
.navbar-margin-top-corr{
	margin-top: 33px;
}

/* Change Navi's breakpoint */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    /*.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }*/
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/* INPUT */
.sb-input-icon-start{
	padding-right: 5px;
}